<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/first-time">First Time</a></li>
    <li><a href="/get-licensed">Get Licensed</a></li>
    <li><a href="/experienced-jumpers">Experienced Jumpers</a></li>
    <li><a href="/prices">Prices</a></li>
    <li><a href="/events-specials">Events & Specials</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="tel:{{ site.phone_link }}">{{ site.phone }}</a></li>
    <li><a href="{{ site.map_link }}" target="_blank">Directions <i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
    <li class="social">
        <a href="{{ site.facebook_link }}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="{{ site.twitter_link }}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="{{ site.instagram_link }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
</ul>